<% provide(:title, 'All users') %>
<h1>All users</h1>
<%= will_paginate %>
<body>
  <div data-controller="scroll-progress" class="h-2 bg-indigo-400 fixed top-0"></div>
</body>

<ul class="users">
	<% @users.each do |user| %>
		<%= render @users %>
	<% end %>
</ul>
<%= will_paginate %>